<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo1.png"
             class="img-responsive center-block"
             style="max-height:500px;padding-bottom:20px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Jemima Adjanor</h3>
      </div>

      <div class="text-center">@jemimaadjanor</div>
      <div class="text-center">
        <a href="http://www.solartaxi.co">www.solartaxi.co</a>
      </div>
    </div>
  </div>
</div>